<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividades Extras</title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../styles/atvextras.css">
</head>
<body>
      <header class="cabecalho">
        <img class="cabecalho__logo" src="../img/imagem/logo texto.png" alt="Logo myDaycare">
        <div class="cabecalho__secoes">
            <a  href="notificacao.html"><img src="../img/icon/notificacao.svg" alt="Notificação"></a>
            <a class="cabecalho__link" href="#"><img src="../img/icon/chat.svg" alt="Atendimento"></a>
        </div>
    </header>
    <nav class="navegacao__perfil">
        <a href="principal.html"><img src="../img/icon/seta esquerda.svg" alt="Voltar"></a>

        <input class="navegacao__pesquisa" type="search" id="pesquisar" placeholder="Pesquisar...">
    </nav>

    <h1 class="titulo__pagina"> Vamos Juntos Enriquecer o Dia a Dia das Crianças!</h1>
    <div class="container">
        <p class="texto__pagina">Querida família,</p>
            <p class="texto__pagina">Na T'Daycare, acreditamos que o aprendizado vai muito além das paredes da sala de aula. Atividades como oficinas de música,  artesanato e festas temáticas despertam nas crianças a criatividade, a autonomia, o senso de grupo e, acima de tudo, a alegria de viver novas experiências.</p>
            <p class="texto__pagina">Essas vivências são pensadas com todo o carinho para complementar o desenvolvimento dos nossos pequenos — emocional, cognitivo e socialmente.</p>
            <p class="texto__pagina">Para que essas atividades sejam possíveis de forma contínua e com qualidade, convidamos você a contribuir financeiramente, de forma voluntária e transparente, com um pequeno valor que será 100% destinado à realização dessas ações especiais.</p>
    </div>
        
        <h2 class="subtitulo__pagina">Por que Contribuir?</h2>
        <ul class="lista__pagina">
            <li class="paglista__item">✅ Enriquece o repertório cultural e emocional da criança</li><hr/>
            <li class="paglista__item">✅ Aproxima as famílias da rotina escolar</li><hr/>
            <li class="paglista__item">✅ Garante materiais, transporte e profissionais qualificados</li><hr/>
            <li class="paglista__item">✅ Proporciona momentos que ficarão na memória delas para sempre 💛</li>
        </ul>

        <div class="container">
            <p class="texto__pagina">
                Cada contribuição faz a diferença e ajuda a transformar uma simples atividade em uma experiência inesquecível. Com sua ajuda, podemos continuar oferecendo uma educação viva, divertida e completa.
            </p>
            <p class="texto__pagina">Contamos com seu apoio para continuar construindo um espaço onde aprender é também brincar, criar, explorar e sonhar!</p>
            <p class="texto__pagina">
                Com carinho,<br/>
                Equipe T'Daycare
            </p>
        </div>

        <h1 class="subtitulo__pagina">Próximas atividades</h1>

        <ul class="lista__card">
            <li class="cards__item "><span class="negrito">06 de julho</span><img src="../img/imagem/junina.jpg" alt="Imagem Ilustrativa" class="card__img"><span class="negrito">Festa junina</span></li>
            <li class="cards__item "><span class="negrito">23 de junho</span><img src="../img/imagem/musica.jpg" alt="Imagem Ilustrativa" class="card__img"><span class="negrito">Oficina da musica</span></li>
            <li class="cards__item "><span class="negrito">30 de junho</span><img src="../img/imagem/aniversario.jpg" alt="Imagem Ilustrativa" class="card__img"><span class="negrito">Aniversariantes do mês</span></li>
        </ul>
        
        <div class="container">
            <p class="texto__pagina">Caso quera contribuir, com qualquer quantia, para a realização das atividades extras<br/>Segue o Qr Code:</p> <img class="qrcode" src="../img/imagem/qrcode.svg" alt="Qr code">
        </div>

    <footer class="rodape">
        <div class="rodape__container">
            <h2 class="rodape__titulo">47.785.527/0001-32 - RECREAÇÃO INFANTIL BEM VIVER</h2>
            <p class="rodape__texto">AV PREFEITO FRANCISCO RODRIGUES FILHO, 279, Centro, POA-SP - 08.561-200</p>
        </div>
        <a class="rodape__link" href="#"><img class="contato__icon" src="../img/icon/contato.svg" alt="contatos"></a>
    </footer>
</body>
</html>