<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comunidade</title>
    <link rel="stylesheet" href="../../style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
     <header class="cabecalho">
        <img class="cabecalho__logo" src="../img/imagem/logo texto.png" alt="Logo myDaycare">
    </header>
    <nav class="navegacao">
        <a class="navegacao__link navegacao__Icone" href="principal.html"><img class="navegacao__icone" src="../img/icon/seta esquerda.svg" alt="voltar"></a> 

        <input class="navegacao__pesquisa " type="search" id="pesquisar" placeholder="Pesquisar...">

        <a  href="notificacao.html"><img class="navegacao__icone" src="../img/icon/notificacao.svg" alt="Notificação"></a>

        <a class="cabecalho__link" href="#"><img  class=" navegacao__icone" src="../img/icon/menu.svg" alt="menu"></a>
    </nav>
    <section class="sectionBloco">
        <div class="container__perfil">
            <img src="..//img/imagem/recriação.jpg" alt="Perfil" class="foto__usuario">
            <p class="nome__usuario">Recriação Infantil</p>
        </div>
        <img src="..//img/imagem/crianca.jpg" alt="Publicação" class="publicacao">
        <p class="legenda">Feliz Aniversário Gabriel!!🎂🎉🥳</p>

        <div class="botoes">
        <div class="container__botoes">
            <img src="..//img/icon/favorito.svg" alt="Icone Ação" class="pIcone">
            <img src="../img/icon/comentar.svg" alt="Icone Ação" class="pIcone">
            <img src="..//img/icon/enviar.svg" alt="Icone Ação" class="pIcone">
        </div>
        <img src="..//img/icon/salvar.svg" alt="Icone Ação" class="pIcone">
        </div>
    </section>

        <section class="sectionBloco">
        <div class="container__perfil">
            <img src="..//img/imagem/recriação.jpg" alt="Perfil" class="foto__usuario">
            <p class="nome__usuario">Recriação Infantil</p>
        </div>
        <img src="..//img/imagem/horta4.jpg" alt="Publicação" class="publicacao">
        <p class="legenda">Hoje plantamos lindos feijões, as crianças poderão levar para a casa 🌱🫛</p>

        <div class="botoes">
        <div class="container__botoes">
            <img src="..//img/icon/favorito.svg" alt="Icone Ação" class="pIcone">
            <img src="../img/icon/comentar.svg" alt="Icone Ação" class="pIcone">
            <img src="..//img/icon/enviar.svg" alt="Icone Ação" class="pIcone">
        </div>
        <img src="..//img/icon/salvar.svg" alt="Icone Ação" class="pIcone">
        </div>
    </section>

        <section class="sectionBloco">
        <div class="container__perfil">
            <img src="..//img/imagem/recriação.jpg" alt="Perfil" class="foto__usuario">
            <p class="nome__usuario">Recriação Infantil</p>
        </div>
        <img src="..//img/imagem/Abraço.jpg" alt="Publicação" class="publicacao">
        <p class="legenda">Esse é nosso trabalho ❤️😍🥰</p>

        <div class="botoes">
        <div class="container__botoes">
            <img src="..//img/icon/favorito.svg" alt="Icone Ação" class="pIcone">
            <img src="../img/icon/comentar.svg" alt="Icone Ação" class="pIcone">
            <img src="..//img/icon/enviar.svg" alt="Icone Ação" class="pIcone">
        </div>
        <img src="..//img/icon/salvar.svg" alt="Icone Ação" class="pIcone">
        </div>
    </section>

        <section class="sectionBloco">
        <div class="container__perfil">
            <img src="..//img/imagem/recriação.jpg" alt="Perfil" class="foto__usuario">
            <p class="nome__usuario">Recriação Infantil</p>
        </div>
        <img src="..//img/imagem/atividade de artes.jpg" alt="Publicação" class="publicacao">
        <p class="legenda">Hoje foi dia da atividade de artes. 👶🎨</p>

        <div class="botoes">
        <div class="container__botoes">
            <img src="..//img/icon/favorito.svg" alt="Icone Ação" class="pIcone">
            <img src="../img/icon/comentar.svg" alt="Icone Ação" class="pIcone">
            <img src="..//img/icon/enviar.svg" alt="Icone Ação" class="pIcone">
        </div>
        <img src="..//img/icon/salvar.svg" alt="Icone Ação" class="pIcone">
        </div>
    </section>

        <section class="sectionBloco">
        <div class="container__perfil">
            <img src="..//img/imagem/recriação.jpg" alt="Perfil" class="foto__usuario">
            <p class="nome__usuario">Recriação Infantil</p>
        </div>
        <img src="..//img/imagem/almoço.jpg" alt="Publicação" class="publicacao">
        <p class="legenda">Hora do almoço 😋</p>

        <div class="botoes">
        <div class="container__botoes">
            <img src="..//img/icon/favorito.svg" alt="Icone Ação" class="pIcone">
            <img src="../img/icon/comentar.svg" alt="Icone Ação" class="pIcone">
            <img src="..//img/icon/enviar.svg" alt="Icone Ação" class="pIcone">
        </div>
        <img src="..//img/icon/salvar.svg" alt="Icone Ação" class="pIcone">
        </div>
    </section>

        <section class="sectionBloco">
        <div class="container__perfil">
            <img src="..//img/imagem/recriação.jpg" alt="Perfil" class="foto__usuario">
            <p class="nome__usuario">Recriação Infantil</p>
        </div>
        <img src="..//img/imagem/licao3.jpg" alt="Publicação" class="publicacao">
        <p class="legenda">É lindo ver a dedicação do nossos pequeno 🤩</p>

        <div class="botoes">
        <div class="container__botoes">
            <img src="..//img/icon/favorito.svg" alt="Icone Ação" class="pIcone">
            <img src="../img/icon/comentar.svg" alt="Icone Ação" class="pIcone">
            <img src="..//img/icon/enviar.svg" alt="Icone Ação" class="pIcone">
        </div>
        <img src="..//img/icon/salvar.svg" alt="Icone Ação" class="pIcone">
        </div>
    </section>

    <hr/>
    <footer class="rodape">
        <div class="rodape__container">
            <h2 class="rodape__titulo">47.785.527/0001-32 - RECREAÇÃO INFANTIL BEM VIVER</h2>
            <p class="rodape__texto">AV PREFEITO FRANCISCO RODRIGUES FILHO, 279, Centro, POA-SP - 08.561-200</p>
        </div>
        <a class="rodape__link" href="#"><img class="contato__icon" src="../img/icon/contato.svg" alt="contatos"></a>
    </footer>
</body>
</html>