<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificações</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    <header class="cabecalho">
        <img class="cabecalho__logo" src="../img/imagem/logo texto.png" alt="Logo TDaycare">
    </header>

    <nav class="navegacao__notificacao">
        <a class="navegacao__Icone" href="principal.html"><img class="navegacao__icone" src="../img/icon/seta esquerda.svg" alt="Perfil"></a>       
        <p class="pTitulo titulo_notificacao">Notificação</p>
    </nav>

   <ul class="lista__notificacoes">
    <li class="sectionBloco">
        <h2 class="item__titilo">Titulo da notificação</h2>
        <a href="#" class="lista__link">Assunto</a>
    </li>
    <li class="sectionBloco">
        <h2 class="item__titilo">Titulo da notificação</h2>
        <a href="#" class="lista__link">Assunto</a>
    </li>
    <li class="sectionBloco">
        <h2 class="item__titilo">Titulo da notificação</h2>
        <a href="#" class="lista__link">Assunto</a>
    </li>
    <li class="sectionBloco">
        <h2 class="item__titilo">Titulo da notificação</h2>
        <a href="#" class="lista__link">Assunto</a>
    </li>
    <li class="sectionBloco">
        <h2 class="item__titilo">Titulo da notificação</h2>
        <a href="#" class="lista__link">Assunto</a>
    </li>
   </ul>
</body>
</html>
