<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myDaycare</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    <header class="cabecalho">
        <img class="cabecalho__logo" src="../img/imagem/logo texto.png" alt="Logo myDaycare">
    </header>

   <div class="navegacao">
       <a href="index.html"><img src="../img/icon/seta esquerda.svg" alt="Voltar"></a>
       <h1 class="titulo__notificacao">Notificações</h1>
   </div>
   <ul class="lista__notificacoes">
    <li class="lista__item">
        <h2 class="item__titilo">Titulo da notificação</h2>
        <a href="#" class="lista__link">Assunto</a>
    </li>
    <li class="lista__item">
        <h2 class="item__titilo">Titulo da notificação</h2>
        <a href="#" class="lista__link">Assunto</a>
    </li>
    <li class="lista__item">
        <h2 class="item__titilo">Titulo da notificação</h2>
        <a href="#" class="lista__link">Assunto</a>
    </li>
    <li class="lista__item">
        <h2 class="item__titilo">Titulo da notificação</h2>
        <a href="#" class="lista__link">Assunto</a>
    </li>
    <li class="lista__item">
        <h2 class="item__titilo">Titulo da notificação</h2>
        <a href="#" class="lista__link">Assunto</a>
    </li>
   </ul>
</body>
</html>