<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu pequeno</title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../styles/perfilcrianca.css">
</head>
<body>
    <header class="cabecalho">
        <img class="cabecalho__logo" src="../img/imagem/logo texto.png" alt="Logo myDaycare">
    </header>

    <nav class="navegacao">
        <a class="navegacao__link navegacao__Icone" href="principal.html"><img class="navegacao__icone" src="../img/icon/seta esquerda.svg" alt="voltar"></a> 

        <input class="navegacao__pesquisa " type="search" id="pesquisar" placeholder="Pesquisar...">

        <a  href="notificacao.html"><img class="navegacao__icone" src="../img/icon/notificacao.svg" alt="Notificação"></a>

        <a class="cabecalho__link" href="#"><img  class=" navegacao__icone" src="../img/icon/editar.svg" alt="editar"></a>
    </nav>
    
    <section class="sectionBloco">
        <h1 class="titulo__perfil">
            Oi,<br/> 
            Meu nome é <span class="pTitulo destaque">Gabriel Ferraz</span>.
        </h1>
        <div class="apresentacao__crianca">
            <img src="../img/imagem/crianca.jpg" alt="Aluno" class="perfil__img">
            <div class="apresentacao__info">

                <ul class="info__crianca">
                    <li class="crianca__lista-item">
                        <span class="negrito ">Data de nascimento:</span>
                        <p class="item__texto">21 de maio de 2019</p>
                    </li>
                    <li class="crianca__lista-item">
                        <span class="negrito">Sexo:</span>
                        <p class="item__texto">Masculino</p>
                    </li>
                    <li class="crianca__lista-item">
                        <span class="negrito">Responsável:</span>
                        <p class="item__texto">Amanda Ferraz</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="info__complementares">
            <h2 class="pSub-titulo maiuscula">
                Informações Adicionais:
            </h2><hr/>
            <ul class="complementares__lista">
                <li class="complementares__lista-item">
                    <span class="negrito">Hob's</span>
                    <p class="item__texto">Desenhar, Brincar e observar as formiguinhas no jardim</p>
                </li>
                <li class="complementares__lista-item">
                    <span class="negrito">Cuidados Especiais:</span>
                    <p class="item__texto">TEA (Transtorno do Espectro Autista)</p>
                </li>
                <li class="complementares__lista-item">
                    <span class="negrito">Observações:</span>
                    <p class="item__texto">Gosta de dormir a tarde, não come alguns legumes, hiperativo...</p>
                </li>
            </ul>
            <h2 class="pSub-titulo maiuscula">
                Histórico de Saúde
            </h2><hr/>
            <ul class="complementares__lista">
                <li class="complementares__lista-item">
                    <span class="negrito">Doenças:</span>
                    <p class="item__texto">n/d</p>
                </li>
                <li class="complementares__lista-item">
                    <span class="negrito">Alergias:</span>
                    <p class="item__texto">n/d</p>
                </li>
                <li class="complementares__lista-item">
                    <span class="negrito">Medicamento em uso</span>
                    <p class="item__texto">n/d</p>
                </li>
            </ul>
    </section>
    <section class="sectionBloco">
            <h2 class="pSub-titulo maiuscula">Dados do Responsável</h2>
            <ul class="complementares__lista">
                <li class="complementares__lista-item">
                    <span class="negrito">Nome:</span>
                    <p class="item__texto">Amanda Ferraz</p>
                </li>
                <li class="complementares__lista-item">
                    <span class="negrito">Grau de parentesco:</span>
                    <p class="item__texto">Mãe</p>
                </li>
                <li class="complementares__lista-item">
                    <span class="negrito">Endereço:</span>
                    <p class="item__texto">Rua A, 123, Centro, Poá-SP - 08123-456</p>
                </li>
                <li class="complementares__lista-item">
                    <span class="negrito">Telefone:</span>
                    <p class="item__texto">(11) 91234-5678</p>
                </li>
                <li class="complementares__lista-item">
                    <span class="negrito">E-mail:</span>
                    <p class="item__texto">Amanda_Ferraz@gmail.com</p>
                </li>
            </ul>
        </div>
    </section>
    <a class="perfil__link" href="#"><img src="../img/icon/recados.svg">Recados</a>

    <footer class="rodape">
        <div class="rodape__container">
            <h2 class="rodape__titulo">47.785.527/0001-32 - RECREAÇÃO INFANTIL BEM VIVER</h2>
            <p class="rodape__texto">AV PREFEITO FRANCISCO RODRIGUES FILHO, 279, Centro, POA-SP - 08.561-200</p>
        </div>
        <a class="rodape__link" href="#"><img class="contato__icon" src="../img/icon/contato.svg" alt="contatos"></a>
    </footer>
</body>
</html>