<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="cabecalho">
        <img class="cabecalho__logo" src="../img/imagem/logo texto.png" alt="Logo myDaycare">
        <div class="cabecalho__secoes">
            <a  href="notificacao.html"><img src="../img/icon/notificacao.svg" alt="Notificação"></a>
            <a class="cabecalho__link" href="#"><img src="../img/icon/chat.svg" alt="Atendimento"></a>
        </div>
    </header>
    <nav class="navegacao__perfil">
        <a href="index.html"><img src="../img/icon/seta esquerda.svg" alt="Voltar"></a>

        <input class="navegacao__pesquisa" type="search" id="pesquisar" placeholder="Pesquisar...">

        <a href="#"><img src="../img/icon/configuracoes.svg" alt="Configurações"></a>
    </nav>
    <div class="perfil__container">
        <img class="perfil__usuario" src="../img/imagem/usuario.jpg" alt="Usuário">
        <h1 class="nome__usuario">Amanda Ferraz</h1>
    </div>
    <section class="perfil__info">
        <ul>
            <li class="perfil__lista-item"><span class="negrito">Responsável:</span> Pelo aluno Gabriel</li><hr/>
            <li class="perfil__lista-item"><span class="negrito">Idade:</span> 36 anos</li><hr/>
            <li class="perfil__lista-item"><span class="negrito">Status:</span> <img class="status" src="../img/icon/status.svg" alt="Status disponivel"> Diponivel</li>
        </ul>
    </section>
    <section class="perfil__card">  
        <img src="../img/imagem/crianca.jpg" alt="" class="card__img">
        <div class="card__container">
            <h2 class="titilo__card">Gabriel Ferraz</h2>
            <ul class="card__lista">
                <li class="card__lista-item"><span class="negrito">Idade:</span>5 anos</li><hr/>
                <li class="card__lista-item"><span class="negrito">Cuidados especiais:</span>Autista</li><hr/>
                <li class="card__lista-item"><span class="negrito">Observação:</span>Gosta de dormir a tarde.</li>
            </ul>
        </div>
    </section>
    <a class="perfil__link" href="#"><img src="../img/icon/recados.svg">Recados</a>
        <footer class="rodape">
        <div class="rodape__container">
            <h2 class="rodape__titulo">47.785.527/0001-32 - RECREAÇÃO INFANTIL BEM VIVER</h2>
            <p class="rodape__texto">AV PREFEITO FRANCISCO RODRIGUES FILHO, 279, Centro, POA-SP - 08.561-200</p>
        </div>
        <a class="rodape__link" href="#"><img class="contato__icon" src="../img/icon/contato.svg" alt="contatos"></a>
    </footer>
</body>
</html>