<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T Daycare</title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">      
</head>
<body>
    <header class="cabecalho">
        <img class="cabecalho__logo" src="../img/imagem/logo texto.png" alt="Logo myDaycare">
    </header>

    <nav class="navegacao">
        <a class="navegacao__link navegacao__Icone" href="perfil.html"><img class="navegacao__icone" src="../img/icon/perfil.svg" alt="Perfil"></a>       
            <input class="navegacao__pesquisa " type="search" id="pesquisar" placeholder="Pesquisar...">
            <a  href="notificacao.html"><img class="navegacao__icone" src="../img/icon/notificacao.svg" alt="Notificação"></a>
            <a class="cabecalho__link" href="#"><img  class=" navegacao__icone" src="../img/icon/menu.svg" alt="menu"></a>
    </nav>

    <section id="card" class="sectionBloco pLarguraBloco">
        <h2 class="pTitulo">Próximos Eventos:</h2>
        <div class="card__container">
            <img class="card__img" src="../img/imagem/junina.jpg" alt="imagem ilustrativa">

            <div class="card__container-textos">
                <h2 class="container__data">06 de julho</h2>
                <hr/>
                <p class="container__texto">Festa junina</p>

                <div class="container__botoes">
                    <input class="botao_favorito" type="checkbox" id="favorito">
                    <label class="rotulo__favorito" for="favorito"><span class="favoritar"></span></label>
                    <a href="atividadesextras.html"><img src="../img/icon/redirecionar.svg" alt="Visualizar"></a>
                </div>  
            </div>
        </div>     
    </section>

    <section class="apresentacao">
        <h2 class="apresentacao__titulo">Nossos Projetos:</h2>
        <div class="apresentacao__projetos">
            <a class="projetos__link" href="projetohorta.html">
                <img class="img__apresentacao" src="../img/imagem/horta.svg" > 
                <p>Horta</p>  
            </a>
            <a class="projetos__link" href="projetolicaocasa.html">
                <img class="img__apresentacao" src="../img/imagem/caderno.svg">
                <p>Reforço</p>
            </a>
        </div>
    </section>

    <section class="topicos">
        <ul class="topicos__lista">
            <li class="topicos__lista-item sectionBloco">
                <a href="perfilcrianca.html" class="topicos__links">
                    <img class="topicos__icon" src="../img/icon/aluno.svg" alt="Perfil aluno"> 
                    <p class="topicos__texto">Meu Pequeno</p>
                </a>
            </li>
            <li class="topicos__lista-item sectionBloco">
                <a href="atividadesextras.html" class="topicos__links">
                    <img class="topicos__icon" src="../img/icon/atividades.svg" alt="Atividades Extras">
                    <p class="topicos__texto">Atividades Extras</p>   
                </a>
            </li>
            <li class="topicos__lista-item sectionBloco">
                <a href="camunidade.html" class="topicos__links">
                    <img class="topicos__icon" src="../img/icon/grupo.svg" alt="feed" class="topicos__icon">       
                    <p class="topicos__texto">Comunidade</p>
                </a>
            </li>
            <li class="topicos__lista-item sectionBloco">               
                <a href="https://wa.me/5511978365378" class="topicos__links">
                    <img class="topicos__icon" src="../img/icon/whatsApp.svg" alt="agenda">
                    <p class="topicos__texto">WhatsApp</p>
                </a>
            </li>
        </ul>
    </section>

    <footer class="rodape">
        <div class="rodape__container">
            <h2 class="rodape__titulo">47.785.527/0001-32 - RECREAÇÃO INFANTIL BEM VIVER</h2>
            <p class="rodape__texto">AV PREFEITO FRANCISCO RODRIGUES FILHO, 279, Centro, POA-SP - 08.561-200</p>
        </div>
        <a class="rodape__link" href="https://wa.me/5511978365378"><img class="contato__icon" src="../img/icon/contato.svg" alt="contatos"></a>
    </footer>
</body>
</html>
