<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Horta</title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../styles/horta.css">
</head>
<body>
    <header class="cabecalho">
        <img class="cabecalho__logo" src="../img/imagem/logo texto.png" alt="Logo myDaycare">
        <div class="cabecalho__secoes">
            <a  href="notificacao.html"><img src="../img/icon/notificacao.svg" alt="Notificação"></a>
            <a class="cabecalho__link" href="#"><img src="../img/icon/chat.svg" alt="Atendimento"></a>
        </div>
    </header>
    <nav class="navegacao__perfil">
        <a href="principal.html"><img src="../img/icon/seta esquerda.svg" alt="Voltar"></a>

        <input class="navegacao__pesquisa" type="search" id="pesquisar" placeholder="Pesquisar...">
    </nav>
    <figure>
        <img class="apresentacao_horta" src="..//img/imagem/Horta.jpg" alt="Ilustração de horta">
    </figure>
        <h1 class="Titulo">Projeto Horta</h1>
        <section class="horta__container">
            <h2 class="card__titulo-horta">Objetivo do Projeto</h2>
            <p>O Projeto Horta tem como principal objetivo promover o contato das crianças com a natureza, incentivando hábitos saudáveis, responsabilidade e o cuidado com o meio ambiente, por meio do cultivo de uma horta escolar. A proposta visa integrar o aprendizado prático com os conteúdos pedagógicos, despertando o interesse das crianças por temas como alimentação, sustentabilidade e trabalho em equipe.</p>
        </section>
        <figure>
            <img src="../img/imagem/horta1.jpg" alt="" class="horta__imagem">
        </figure>
        <section class="horta__container cor-verde">
            <h2 class="card__titulo-horta titulo_verde">Importância para a Educação Infantil</h2>
            <ul>
                <li class="horta__lista-item"><h3 class="horta__item-titulo">Aprendizado Ativo:</h3><p class="horta__item-texto">As crianças aprendem fazendo, o que estimula a curiosidade, o pensamento científico e a coordenação motora.</p></li><hr/>
                <li class="horta__lista-item">
                    <h3 class="horta__item-titulo">Conexão com a Natureza:</h3>
                    <p class="horta__item-texto">A horta proporciona uma vivência concreta com o meio ambiente, reforçando valores de respeito e preservação da natureza.</p>
                </li><hr/>
                <li class="horta__lista-item">
                    <h3 class="horta__item-titulo">Educação Alimentar: </h3>
                    <p class="horta__item-texto">Ao plantar, cuidar e colher alimentos, as crianças passam a valorizar mais o que consomem, reconhecendo a importância de uma alimentação saudável.</p>
                </li><hr/>
                <li class="horta__lista-item">
                    <h3 class="horta__item-titulo">Desenvolvimento Socio-emocional:</h3>
                    <p class="horta__item-texto">Trabalhar em grupo na horta promove cooperação, paciência, empatia e senso de responsabilidade.</p>
                </li>
            </ul>
        </section>
                <figure class="area__imagem-composta">
            <img class="imagem-composta" src="../img/imagem/horta3.jpg">
            <img class="imagem-composta"  src="../img/imagem/horta4.jpg">
        </figure>
        
        <section class="horta__container">
            <h2 class="card__titulo-horta">Como é Feito</h2>
            <p>Iniciamos com o planejamento e definição das espécies a serem Plantadas (hortaliças, temperos, legumes). As crianças participam desde o preparo da terra, plantio, rega, até a colheita. As atividades são orientadas por educadores, integrando a horta aos conteúdos trabalhados durante a rotina dos pequenos. Sendo assim Pais, funcionários e a comunidade são convidados a participar, fortalecendo os vínculos com a creche.</p>
        </section>
        <figure class="area__imagem">
            <img src="../img/imagem/plantil.svg">
        </figure>   
    <footer class="rodape">
        <div class="rodape__container">
            <h2 class="rodape__titulo">47.785.527/0001-32 - RECREAÇÃO INFANTIL BEM VIVER</h2>
            <p class="rodape__texto">AV PREFEITO FRANCISCO RODRIGUES FILHO, 279, Centro, POA-SP - 08.561-200</p>
        </div>
        <a class="rodape__link" href="#"><img class="contato__icon" src="../img/icon/contato.svg" alt="contatos"></a>
    </footer>
</body>
</html>