@import url(view/styles/resetCss.css);
@import url(view/styles/header.css);
@import url(view/styles/navegacao.css);
@import url(view/styles/card.css);
@import url(view/styles/apresentação.css);
@import url(view/styles/topicos.css);
@import url(view/styles/footer.css);
@import url(view/styles/notificacao.css);
@import url(view/styles/perfil.css);

:root{
    --fundoBody: #EBECEE;
    --sectionBloco: #FFFFFF;
    --fundoCabecalho: #69247C;
    --textoData: #660000 ;
    --fundoApresentacao:   #F9E6CF;
    --tituloApresentacao: #EB9B00;
    --fundoTopico: #B49FCC;
    --textoRodape: #C0C0C0;

    --fontePrincipal: "Inter", sans-serif;
    --fonteSegundaria: "Noto Sans JP", sans-serif;
}

body{
    width: 100vw;
    box-sizing: border-box;
    background-color: var(--fundoBody);
    font-family: var(--fontePrincipal);
    font-size: 1rem;
    font-weight: 400;
}

.pIcone{
    width: 24px;
}

.pTitulo{
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 16px;
}

.pSub-titulo{
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 16px;
}

.sectionBloco{
    background-color: var(--sectionBloco);
    margin: 16px;
    padding: 16px;
    border-radius: 10px;
}

.pLarguraBloco{
    width: 20.5pc;
}

.negrito{
    font-weight: 600;
}