.card__container, .container__texto{
    display: flex;
}
.card__img{
    height: 115px;
}

.card__container{
    padding-top: 8px;
    align-items: center;
    justify-content: space-evenly;
}

.container__texto{
    font-size: 18px;
    flex-direction: column;
    padding-bottom: 16px;
}

.container__data{
    font-size: 1rem;
    font-weight: 600;
    color: var(--textoData);
}

.container__botoes{
    text-align: center;
}

.botao_favorito{
    display: none;
}

.favoritar{
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/icon/favorito.svg);
    display: inline-block;
}

.botao_favorito:checked~.rotulo__favorito>.favoritar{
    background-image: url(../img/icon/favorito\ vermelho.svg);
}