.rodape{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape__container{
    width: 43%;
    font-size: 6px;
}
.rodape__titulo{
    font-weight: 700;
    padding-bottom: 16px;
}
.contato__icon{
    width: 24px;
}