:root{
    --fundoTituloPrincipal: #3F7652;
    --textoTituloPrincipal: #FFF;
    --blocoTabela: #87CD90;
}

.Imag_horta{
    margin: 16px;
    width: 22.3pc;
    border-radius: 10px;
}

.Titulo{
    background-color: var(--fundoTituloPrincipal);
    color: var(--textoTituloPrincipal);
    font-size: 30px;
    padding: 8px;
}

.horta__container{
    margin: 32px;
}

.horta__lista-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.horta__item-titulo{
    font-weight: 500;
    width: 50%;
}
.horta__item-texto{
    width: 50%;
}

.cor-verde{
    background-color: var(--blocoTabela);
}
.titulo_verde{
    color: var(--fundoTituloPrincipal)
}

.horta__imagem{
    width: 24.3pc;
}

.area__imagem{
    text-align: center;
}

.area__imagem-composta{
    width: 24.3pc;
    display: flex;
}

.imagem-composta{
    width: 50%;
}