:root{
    --fundoSegundario: #D7D4E9;
}

.cetralizar{
    justify-content: center;
}

.login{
    padding: 1em;
    font-family: var(--fonteSegundaria);
}

.login-container {
    background-color: var(--fundoSegundario);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login__titulo {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #145db2;
}

.error {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.nova__conta{
    color: #145db2;
    padding-top: 16px;
}

.login__texto{
    margin: 16px;
}

.login__texto-titulo, .titilo__negrito, .slogan, .texto__conteudo{
    color: var(--fundoTopico);
    padding-bottom: 16px;
    text-align: center;
}

.login__texto-titulo{
    font-size: 24px;
}

.titilo__negrito{
    font-size: 24px;
    font-weight: 700;
}
