.navegacao{
    background-color: var(--sectionBloco);
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacao__icone{
    width: 30px;
    padding: 8px;
}

.navegacao__pesquisa{
    border: 2px solid;
    width: 80%;
    padding: 8PX;
    border-radius: 24px;
}

.navegacao__pesquisa::placeholder{
    font-family: var(--fontePrincipal);
    font-size: 1rem;
    font-weight: 400;
    padding: 30px 50px;
    background: url(../img/icon/pesquisar.svg) no-repeat;
    background-position: 1em;
}
