.navegacao{
    background-color: var(--branco-principal);
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navegacao__container{
    display: flex;
    align-items: center;
    width: 90%;
}

.navegacao__pesquisa{
    background-color: transparent;
    border: 1px solid;
    width: 80%;
    padding: .5em;
    margin-right: .2em;
    border-radius: 24px;
}

.navegacao__pesquisa::placeholder{
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
    padding: 0 3em;
    background: url(../img/icon/pesquisar.svg) no-repeat;
    background-position: 1em;
}

.navegacao__icon{
    margin: .2em;
}