.destaque{
 color: var(--tituloApresentacao)
}
.titulo__perfil{
    font-size: 18px;
    padding-bottom: 16px;
}

.apresentacao__crianca{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.perfil__img{
    width: 160px;
}
.maiuscula{
    text-transform: uppercase;
}

.apresentacao__info{
    margin-left: 16px;
}

.item__texto{
    font-size: 12px;
    margin-bottom: 16px;
}
