.topicos{
    background-color: var(--fundoTopico);
    padding: 8px;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
}

.topicos__lista-item{
    width: 122px;
}

.topicos__links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topicos__icon{
    width: 30px;
}

.topicos__texto{
    text-align: right;
}
